body {
  background-image: url(https://images.unsplash.com/photo-1558346648-9757f2fa4474?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  margin: 1rem;
}

button {
  font-size: 3rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: black;
  color: white;
  margin: 0 .5rem;
  border: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  line-height: 0;
}

.count {
  width: 100%;
  text-align: center;
}

.tally-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0 10%;
  gap: .8rem;
}

.tallies {
  position: relative;
  display: inline-flex;
}

.tally {
  height: 1.5rem;
  width: 3px;
  background-color: black;
  margin: 0 1px;
  clip-path: polygon(10% 7%, 0% 20%, 5% 48%, 13% 69%, 29% 89%, 50% 100%, 74% 85%, 88% 69%, 96% 48%, 98% 21%, 88% 6%, 52% 0);
}

.tally:not(:nth-child(5)) {
  transform: rotate(-5deg);
}

.tally:nth-child(5) {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-.45rem, -.25rem) rotate(50deg);
  height: 2rem;
  margin: none;
}